<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <ul class="ml-0 pl-0">
        <form action="/memos/<%= @memo['id'] %>/edit" method="post">
          <input type="hidden" name="id">
          <div class="form-group">
            <label for="memoTitle">タイトル</label>
            <input type="text" name="title" class="form-control" id="memoTitle" placeholder="メモのタイトル">
          </div>
          <div class="form-group">
            <label for="memoBody">メモ内容</label>
            <input type="textarea" name="body" class="form-control" id="memoBody" placeholder="メモの内容">
          </div>
          <button type="submit" name="_method" value="PATCH" class="btn btn-primary">変更</button>
        </form>
      </ul>
    </div>
  </div>
</div>
